
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    background-color: rgb(40,40,40);
  }

  iframe {
    width: 100vw; 
    height: 95vh; 
    border: none; 
  }

.button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

form {
  display: inline;
}

.side-panel {
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s; 
}

.side-panel iframe {
  width: 100%;
  height: 100%;
}
.main-content {
  transition: margin-left .5s; /* Smooth transition for the margin-left */
  padding: 16px;
}
