<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sandbox Creator</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <form id="startForm" action="create_sandbox" method="post" onsubmit="setScreenDimensions()">
            <input type="hidden" id="width" name="width">
            <input type="hidden" id="height" name="height">
            <input type="hidden" id="url" name="url" value="{{ url }}">
            <button type="submit" class="button animated-box in"><span>Start Your Sandbox</span></button>
        </form>

        <script>
            function setScreenDimensions() {
                var width = Math.round(screen.width * 0.9);
                var height = Math.round(screen.height * 0.8);

                document.getElementById('width').value = width;
                document.getElementById('height').value = height;
            }

            window.addEventListener('load', (event) =>  {
                setScreenDimensions()
                const form = document.getElementById('startForm');
                const url = document.getElementById('url');

                if (url.value.trim() !== '') {
                    form.submit();
                }
            });
        </script>

        <section class="features">
            <div class="feature-list">
                <div class="feature">
                    <h3>Isolation</h3>
                    <p>Complete isolation from your OS ensures security and performance.</p>
                </div>
                <div class="feature">
                    <h3>Security Tools</h3>
                    <p>Pre-installed tools to keep your browsing safe and private.</p>
                </div>
                <div class="feature">
                    <h3>Performance</h3>
                    <p>Optimized for low latency and fast loading times.</p>
                </div>
            </div>
        </section>
    </body>
</html>