<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sandbox Creator</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <form action="create_sandbox" method="post">
            <button type="submit" class="button animated-box in"><span>Start Your Sandbox</span></button>
        </form>
        <section class="features">
            <div class="feature-list">
                <div class="feature">
                    <h3>Isolation</h3>
                    <p>Complete isolation from your OS ensures security and performance.</p>
                </div>
                <div class="feature">
                    <h3>Security Tools</h3>
                    <p>Pre-installed tools to keep your browsing safe and private.</p>
                </div>
                <div class="feature">
                    <h3>Performance</h3>
                    <p>Optimized for low latency and fast loading times.</p>
                </div>
            </div>
        </section>
    </body>
</html>