<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full Screen Iframe</title>
  <link rel="stylesheet" href="/static/vm_style.css">
</head>
<body>
  <div id="sidePanel" class="side-panel">
    <iframe src="http://127.0.0.1:{{download_port}}/" frameborder="0"></iframe>
  </div>

  <div id="mainContent" class="main-content">

    <form action="http://127.0.0.1:5000/end_session" method="post">
      <button type="submit" class="button animated-box in" style="background-color: #f4511e;"><span>End Session</span></button>
    </form>
    
    <button id="togglePanelBtn" class="button animated-box in" style="background-color: yellowgreen;"><span>Downloads Folder</span></button>

    <!--<div id="sidePanel" class="side-panel">
      <iframe src="http://127.0.0.1:5000" frameborder="0"></iframe>
    </div>-->

    <iframe src="http://127.0.0.1:{{num}}?autoconnect=true" allowfullscreen></iframe>
  </div>

  <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>